@page
@model CourseManagement.Pages.Instructors.DetailsModel

@{
    ViewData["Title"] = "Details zu Dozent";
}

<h1>Details zu @Html.DisplayFor(model => model.Instructor.FirstName) @Html.DisplayFor(model => model.Instructor.LastName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Instructor.ID">Bearbeiten des Dozenten</a> |
    <a asp-page="./Index">Zurück zur Übersicht</a>
</div>
