@page
@model CourseManagement.Pages.Students.EditModel

@{
    ViewData["Title"] = "Student bearbeiten";
}

<h1>Bearbeiten von @Html.DisplayFor(model => Model.Student.FullName)</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.ID" />
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Birthdate" class="control-label"></label>
                <input asp-for="Student.Birthdate" class="form-control" />
                <span asp-validation-for="Student.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Street" class="control-label"></label>
                <input asp-for="Student.Street" class="form-control" />
                <span asp-validation-for="Student.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.ZipCode" class="control-label"></label>
                <input asp-for="Student.ZipCode" class="form-control" />
                <span asp-validation-for="Student.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.City" class="control-label"></label>
                <input asp-for="Student.City" class="form-control" />
                <span asp-validation-for="Student.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Student Kursen zuordnen:</h4>
                @if(!Model.AssignedCourseDataList.Any())
                {
                    <p>Es sind leider noch keine Kurse angelegt worden.</p>
                } else
                {
                    <div class="table">
                        <table>
                            @{
                                    foreach (var course in Model.AssignedCourseDataList)
                                    {
                                <tr>
                                    <td>
                                        <input type="checkbox"
                                               name="selectedCourses"
                                               value="@course.CourseID"
                                               @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                        @course.Title - @Html.DisplayFor(model => course.Term)
                                    </td>
                                </tr>
                                    }
                            }
                        </table>            
                        </div>
                } 
                </div>
                <div class="form-group">
                    <input type="submit" value="Speichern" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Zurück zur Übersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
